<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="entityFramework"    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="system.diagnostics" type="System.Diagnostics.SystemDiagnosticsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <sectionGroup name="userSettings"  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsDemoAppruntimeIssue77369.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <entityFramework>
        <defaultConnectionFactory type="EntityFramework.Firebird.FbConnectionFactory, EntityFramework.Firebird" />
        <providers>
            <provider invariantName="FirebirdSql.Data.FirebirdClient" type="EntityFramework.Firebird.FbProviderServices, EntityFramework.Firebird" />
        </providers>
    </entityFramework>
    <system.diagnostics>
        <sources>
            <source name="FirebirdSql.Data.FirebirdClient">
                <listeners>
                    <clear />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
    <userSettings>
        <WinFormsDemoAppruntimeIssue77369.Properties.Settings>
            <setting name="myBoolSetting" serializeAs="String">
                <value>False</value>
            </setting>
        </WinFormsDemoAppruntimeIssue77369.Properties.Settings>
    </userSettings>
</configuration>